.cartItem {
    margin: 10px auto;
    padding: 20px;
    width: 70%;
    border: 1px solid grey;
    border-radius: 15px;
    font-size: 20px;
    background-color: rgb(255, 199, 56);
    color: black;
    .cartGrid {
        display: grid;
        align-items: center;
    }
    button {
        border: none;
        background-color: transparent;
        color: black;
        font-size: 22px;
    }
}

h3 a {
    border-radius: 10px;
    padding: 14px;
    color: var(--text-color);
    background-color: lightskyblue;
    font-size: 18px;
    font-weight: bold;
}

.resetBtn {
    border: 2px solid var(--text-color);
    background-color: transparent;
    color: var(--text-color);
    font-size: 22px;
}

img {
    width: 150px;
    height: 150px;
}

@media screen and (min-width: 768px) {
    .cartGrid {
        grid-template-columns: 2fr 3fr;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 768px) {
    .cartGrid {
        grid-template: 200px 1fr / 100%;
        grid-auto-rows: 10%;
        gap: 10px;
        ul {
            font-size: 14px;
        }
    }
    
}