@media screen and (max-width: 768px) {
    .img {
        margin: 0 auto;
        width: 70%;
        height: 70%;
    }
}
@media screen and (min-width: 768px) {
    .img {
        width: 400px;
        height: 400px;
    }
}

.extrasDiv {
    display: flex;
    justify-content: center;
    td {
        padding: 5px 10px;
    }
}

.imgSlider {
    margin: 50px 30px;
    display: flex;
    align-items: center;
    float: left;
    button {
        background: transparent;
        border: none;
        color: var(--text-color);
        font-size: 20px;
    }
}

.sideItem {
    margin: 40px auto;
    font-size: 20px;
}

.btnModal {
    margin-top: 20px;
    padding: 10px 12px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 20px;
    background: #abcdef;
    color: #090909;
}

.numInput {
    margin: 10px;
    padding: 4px;
    width: 50px;
    font-size: 18px;
    text-align: center;
}

.amountBtn {
    padding: 4px 10px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    background-color: transparent;
    color: var(--text-color);
    font-size: 18px;
}

.actionBtn {
    text-decoration: underline;
    color: var(--text-color);
}